.container{
    background-color: rgb(121, 230, 234);
    display: flex;
    justify-content: space-between;
}

.cont{
    display: flex;
    gap: 20px;
}

.btn-cont{
    list-style-type: none;
}

.btn{
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.logo{
    font-size: 35px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
}
